@font-face {
  font-family: "lunchtype24expanded_regular";
  src: url("../fonts/lunchtype24-regular-expanded-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lunchtype24expanded_medium";
  src: url("../fonts/lunchtype22-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lunchtype24expanded_light";
  src: url("../fonts/lunchtype24-light-expanded-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lunchtype22regular";
  src: url("../fonts/lunchtype22-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lunchtype22medium";
  src: url("../fonts/lunchtype22-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lunchtype22light";
  src:  url("../fonts/lunchtype22-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
