.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: .75rem;
  border-bottom: .125rem solid white;
  text-transform: uppercase;

}

.navbar_right {
  display: flex;
  justify-content: flex-end;
  ul {
    display: flex;
    align-items: flex-end;
    margin-bottom: .75rem;

    li{
        padding-left: .9rem;
    }

    a:hover {
      border-bottom: 1px solid white;
    }
  }
}
.navbar_logo {
  padding: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: .75rem;
  border: 1px solid white;
  float: left;
  
}
