.userprofile {
  text-align: center;
  width: 17rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  gap: 0.7rem;
}

.userprofile__info {
  text-align: center;
  width: 17rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  gap: 0.7rem;
}
